<h1>New Cards on CardSwapp</h1>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: cards_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by card name"
      %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<% if @cards.any? %>
  <div class="row">
    <% @cards.each do |card| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="<%= card.image_url %>" alt="<%= card.name %>" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= card.name %></h5>
            <%= button_to 'HAVE', add_to_collection_collections_path(card_id: card.id), method: :post, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No cards found for '<%= params[:query] %>'</p>
<% end %>
